In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
coordinates = list(lat_lngs)

In [4]:
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

637

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

import time
from datetime import datetime

In [7]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [13]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1

    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | teguldet
Processing Record 2 of Set 1 | noshiro
Processing Record 3 of Set 1 | fort abbas
Processing Record 4 of Set 1 | narsaq
Processing Record 5 of Set 1 | taolanaro
City not found. Skipping...
Processing Record 6 of Set 1 | purwa
Processing Record 7 of Set 1 | maldonado
Processing Record 8 of Set 1 | kapaa
Processing Record 9 of Set 1 | ushuaia
Processing Record 10 of Set 1 | ancud
Processing Record 11 of Set 1 | qaanaaq
Processing Record 12 of Set 1 | hamilton
Processing Record 13 of Set 1 | airai
Processing Record 14 of Set 1 | mataura
Processing Record 15 of Set 1 | dikson
Processing Record 16 of Set 1 | les cayes
Processing Record 17 of Set 1 | albany
Processing Record 18 of Set 1 | rikitea
Processing Record 19 of Set 1 | sitka
Processing Record 20 of Set 1 | georgetown
Processing Record 21 of Set 1 | vaini
Processing Record 22 of Set 1 | poya
Processing Record 23 of Set 1 | gondanglegi
Processing Record 24 of Set 1 | busselton
Processing Record 25 of Set 1 | belushya guba
City not found. Skipping...
Processing Record 26 of Set 1 | sentyabrskiy
City not found. Skipping...
Processing Record 27 of Set 1 | salalah
Processing Record 28 of Set 1 | yellowknife
Processing Record 29 of Set 1 | umzimvubu
City not found. Skipping...
Processing Record 30 of Set 1 | lengshuitan
Processing Record 31 of Set 1 | rawson
Processing Record 32 of Set 1 | castro
Processing Record 33 of Set 1 | cabo san lucas
Processing Record 34 of Set 1 | nuevo progreso
Processing Record 35 of Set 1 | bluff
Processing Record 36 of Set 1 | hobart
Processing Record 37 of Set 1 | punta arenas
Processing Record 38 of Set 1 | thompson
Processing Record 39 of Set 1 | makubetsu
Processing Record 40 of Set 1 | ranibennur
Processing Record 41 of Set 1 | atuona
Processing Record 42 of Set 1 | verkhoyansk
Processing Record 43 of Set 1 | tabiauea
City not found. Skipping...
Processing Record 44 of Set 1 | carnarvon
Processing Record 45 of Set 1 | nizhneyansk
City not found. Skipping...
Processing Record 46 of Set 1 | mataram
Processing Record 47 of Set 1 | abonnema
Processing Record 48 of Set 1 | bredasdorp
Processing Record 49 of Set 1 | faya
Processing Record 50 of Set 1 | ixtapa

KeyboardInterrupt:

In [ ]:
len(city_data)

In [15]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Teguldet,57.3064,88.1667,49.62,96,95,4.76,RU,2022-08-01 19:35:34
1,Noshiro,40.2039,140.0242,77.68,92,100,7.07,JP,2022-08-01 19:35:35
2,Fort Abbas,29.1925,72.8536,91.67,59,65,3.56,PK,2022-08-01 19:35:35
3,Narsaq,60.9167,-46.0500,57.42,73,100,8.46,GL,2022-08-01 19:35:35
4,Purwa,26.4667,80.7833,84.22,58,93,6.20,IN,2022-08-01 19:35:36
5,Maldonado,-34.6667,-54.9167,63.79,76,4,7.09,UY,2022-08-01 19:35:36
6,Kapaa,22.0752,-159.3190,80.58,72,100,17.27,US,2022-08-01 19:31:25
7,Ushuaia,-54.8000,-68.3000,46.06,66,20,4.61,AR,2022-08-01 19:31:38
8,Ancud,-41.8697,-73.8203,46.22,65,99,3.15,CL,2022-08-01 19:35:36
9,Qaanaaq,77.4840,-69.3632,47.98,58,25,1.32,GL,2022-08-01 19:35:36

In [17]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]

In [18]:
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Teguldet,RU,2022-08-01 19:35:34,57.3064,88.1667,49.62,96,95,4.76
1,Noshiro,JP,2022-08-01 19:35:35,40.2039,140.0242,77.68,92,100,7.07
2,Fort Abbas,PK,2022-08-01 19:35:35,29.1925,72.8536,91.67,59,65,3.56
3,Narsaq,GL,2022-08-01 19:35:35,60.9167,-46.0500,57.42,73,100,8.46
4,Purwa,IN,2022-08-01 19:35:36,26.4667,80.7833,84.22,58,93,6.20
5,Maldonado,UY,2022-08-01 19:35:36,-34.6667,-54.9167,63.79,76,4,7.09
6,Kapaa,US,2022-08-01 19:31:25,22.0752,-159.3190,80.58,72,100,17.27
7,Ushuaia,AR,2022-08-01 19:31:38,-54.8000,-68.3000,46.06,66,20,4.61
8,Ancud,CL,2022-08-01 19:35:36,-41.8697,-73.8203,46.22,65,99,3.15
9,Qaanaaq,GL,2022-08-01 19:35:36,77.4840,-69.3632,47.98,58,25,1.32
10,Hamilton,US,2022-08-01 19:35:37,39.1834,-84.5333,86.22,67,20,17.27
11,Airai,TL,2022-08-01 19:30:37,-8.9266,125.4092,54.72,91,94,2.44
12,Mataura,NZ,2022-08-01 19:35:37,-46.1927,168.8643,44.47,89,96,7.96
13,Dikson,RU,2022-08-01 19:35:37,73.5069,80.5464,40.84,91,100,8.99
14,Les Cayes,HT,2022-08-01 19:35:37,18.2000,-73.7500,87.17,67,85,11.99
15,Albany,US,2022-08-01 19:31:41,42.6001,-73.9662,88.43,48,94,1.99
16,Rikitea,PF,2022-08-01 19:35:38,-23.1203,-134.9692,73.00,72,100,24.61
17,Sitka,US,2022-08-01 19:35:38,57.0531,-135.3300,60.69,77,75,5.75
18,Georgetown,MY,2022-08-01 19:33:32,5.4112,100.3354,80.89,92,40,3.44
19,Vaini,TO,2022-08-01 19:35:38,-21.2000,-175.2000,73.56,100,20,3.44
20,Poya,NC,2022-08-01 19:30:45,-21.3500,165.1500,69.85,90,50,4.27
21,Gondanglegi,ID,2022-08-01 19:35:39,-7.7479,112.0132,73.00,90,22,8.28
22,Busselton,AU,2022-08-01 19:35:39,-33.6500,115.3333,53.10,73,93,33.44
23,Salalah,OM,2022-08-01 19:35:39,17.0151,54.0924,77.09,94,75,5.75
24,Yellowknife,CA,2022-08-01 19:35:39,62.4560,-114.3525,64.92,48,75,5.75
25,Lengshuitan,CN,2022-08-01 19:35:40,26.4111,111.5956,80.17,68,0,4.00
26,Rawson,AR,2022-08-01 19:35:40,-43.3002,-65.1023,50.74,55,100,7.94
27,Castro,BR,2022-08-01 19:35:40,-24.7911,-50.0119,65.89,64,21,3.71
28,Cabo San Lucas,MX,2022-08-01 19:32:32,22.8909,-109.9124,90.61,58,75,11.50
29,Nuevo Progreso,MX,2022-08-01 19:35:41,23.1667,-97.9500,94.53,46,25,4.00
30,Bluff,NZ,2022-08-01 19:35:41,-46.6000,168.3333,44.80,92,88,17.13
31,Hobart,AU,2022-08-01 19:35:41,-42.8794,147.3294,46.26,81,40,17.27
32,Punta Arenas,CL,2022-08-01 19:35:41,-53.1500,-70.9167,46.51,66,75,19.57
33,Thompson,CA,2022-08-01 19:35:42,55.7435,-97.8558,64.56,52,75,3.44
34,Makubetsu,JP,2022-08-01 19:35:42,45.3714,141.8211,63.16,97,100,13.69
35,Ranibennur,IN,2022-08-01 19:31:16,14.6167,75.6167,72.79,90,100,10.33
36,Atuona,PF,2022-08-01 19:35:42,-9.8000,-139.0333,78.03,70,37,16.37
37,Verkhoyansk,RU,2022-08-01 19:35:42,67.5447,133.3850,56.82,90,100,5.77
38,Carnarvon,AU,2022-08-01 19:27:08,-24.8667,113.6333,66.90,67,54,23.00
39,Mataram,ID,2022-08-01 19:35:43,-8.5833,116.1167,76.01,90,100,7.05
40,Abonnema,NG,2022-08-01 19:35:43,4.7084,6.7931,74.84,82,49,6.08
41,Bredasdorp,ZA,2022-08-01 19:35:43,-34.5322,20.0403,45.73,85,0,2.28
42,Faya,SA,2022-08-01 19:35:44,18.3851,42.4509,61.32,90,100,6.87
43,Ixtapa,MX,2022-08-01 19:35:44,20.7000,-105.2000,89.22,66,75,4.61

In [19]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")